@import './variables.scss';

.dn-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  border-radius: 3px;
  background-color: $card-bg-color;

  &__ele {
    margin: 5px 0;
    width: 300px;
    border: 1px solid black;
    border-radius: 0;
    &-ready {
      border-color: $input-ready-border-color;
    }
    &-error {
      border-color: $input-error-border-color;
    }
  }

  &__input {
    height: 30px;
  }

  &__textarea {
    height: 100px;
  }

  &__btn {
    width: 100px;
    height: 30px;
    border: none;
    background-color: $btn-form-submit-bg-color;
    color: $btn-form-submit-color;
  }

  &__div {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-right: 5px;
  }
}
