$col-sm-min: 320px;
$col-sm-max: 479px;
$col-md-min: 480px;
$col-md-max: 767px;
$col-lg-min: 768px;
$col-lg-max: 991px;
$col-xl-min: 992px;
$max-screen-width: 1024px;

$main-color: #5bc995;
$secundary-color: #ffea92;
$page-bg-color: #d8d8d8;
$input-error-border-color: red;
$input-ready-border-color: green;
$btn-form-submit-bg-color: #5bc995;
$btn-form-submit-color: #fff;
$card-bg-color: #fff;
$card-color: black;

$navbar-height: 40px;
$sidebar-width: 220px;
