@import '../../global/dynamicForm.scss';

.role {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;

  &__form {
    margin-right: 20px;
    margin-top: 10px;
  }

  &__table {
    margin-left: 20px;
    margin-top: 10px;
  }
}
